#==========================================#
#           CREATED BY SEVERALCODE         #
#==========================================#

# Visual Studio
.vs
*.user
*.suo
*.filter
*.vcxproj.filters
*.vcxproj

# Project folders
[Bb]in
[Bb]inaries
[Ii]nt
[Ii]ntermediate

